<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Homemade+Apple&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <style>
    * {
      background-color: rgb(75, 75, 75);
      font-family: "Roboto Mono", monospace;
      box-sizing: border-box;
      color: white;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Thanks for posting.</h1>
  <h1>Data has been saved.</h1>
  <a href="/students">Go back to student's page</a>
</body>
</html>